#window {
    margin: 0px;
    border: 2px solid #bca0cc;
    background-color: rgba(14, 15, 0, 0.8);
    border-radius: 18px;
}

#test {
    margin: 0px;
    border: 2px solid rgba(93, 74, 22, 0.7);
    background-color: #a79e67
    cba6f7 ;
    border-radius: 18px;
}

#input {
    margin: 5px;
    padding-bottom: 10px;
    border: none;
    color: #d3d3ce;
    border-radius: 18px;
    background-color: rgba(14, 15, 0, 0.2);
}

#outer-box {
    margin: 5px;
    border: none;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color:rgba(0, 0, 0, 0);
    }

#scroll {
    margin: 0px;
    border-radius: 15px;
    border: none;
}

#text {
    border-radius: 15px;
    margin: 5px;
    border: none;
    color: #d3d3ce;
}

/* #entry.activatable #text {
    color: #282a36;
    }
    
    #entry > * {
    color: #d3d3ce;
    } */

#entry:selected {
    border-radius: 15px;
    background-color: #a68ebd;
}

#entry:selected #text {
    color: #000000;
    border-radius: 15px;
}
